h2 {
    font-family: arial;
    text-align: center;
}

/*属性选择器， 通过属性名选择*/
input[type] {
    border: 2px solid orangered
}

/*属性选择器， 通过属性值选择*/
input[type="text"] {
    background-color: palegreen;
}

input[type="email"] {
    background-color: aqua;
}

input[type="button"] {
    border: 2px solid green;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/*属性选择器，通过属性值模糊匹配 */

/* 匹配以I开头的title的属性值 */
p[title^="I"] {
  color: dodgerblue;
}

/* 匹配以fox结尾的title的属性值 */
p[title$="fox"] {
  color: red;
}
/* 匹配title的属性值包含Dreamer*/
p[title~="Dreamer"] {
 text-decoration: underline;
}
