* {
    margin: 0px;
    padding: 0px;
}

html body {
   overflow: scroll;
}
h1.title {
  width: 100vw;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
h1.title span {
  font-size: medium;
}

#container {
  width: 95vw;
  height: 60vh;
  margin: 30px auto; 
  background-color: whitesmoke;
  outline: 8px solid #4834D4;
  /* 
  display: grid 采用grid布局
  */
  display: grid; 


  /*
  grid-template-columns: [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
  grid-auto-rows: 60px auto 100px;
  */

  /*
  grid-template-areas 按照行列指定特定的区域布局
  将grid分为4个部分，第一行全部为header, 第二行2/3为 main,1/3 为sidebar, 第三行为footer
  */

  /* 
  grid-template-areas: 
  "header header header"
  "main main sidebar"
  "footer footer footer";
 */

 /*
 grid-template 是grid-template-areas,grid-template-columns盒grid-auto-rows的简写，具体格式为

 grid-template:
 [grid-template-areas row-1] [grid-auto-rows row-1]
 [grid-template-areas row-2] [grid-auto-rows row-2]
 ...
 [grid-template-areas row-end] [grid-auto-rows row-end]/[grid-template-columns]
 ;
 */
/* 
  grid-template:
  "header header header" 60px
  "main main sidebar" auto
  "footer footer footer" 100px
  /[col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
 */

grid-template-rows: 50px 200px;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: 100px;
grid-auto-flow: row;

/*
grid是grid-template-rows, grid-template-columns 或者 grid-auto-rows和grid-auto-flow的简写
grid不能同时设置 行列(grid-template-rows, grid-template-columns) 和 隐行列(grid-auto-rows, grid-auto-flow, grid-auto-columns)
*/
/* 
相当于:
grid-template-rows: 50px 200px;
grid-template-columns: repeat(3, 1fr);
*/
grid: 50px 200px / repeat(3, 1fr);

/* 
相当于:
grid-auto-rows: 100px;
grid-auto-flow: row;
grid-auto-columns: repeat(3, 1fr);
*/
grid: auto-flow 100px/repeat(3, 1fr);

}

#container>.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-radius: 3px;
  border: 1px solid grey;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar
}

.footer {
  grid-area: footer;
}

