* {
}
h2 {
    font-family: arial;
    text-align: center;
}
/* 选择 未访问的链接 */
a:link {
    text-decoration: none;
    color: black;
}

/* 选择 悬浮的链接 */
a:hover {
    color: orangered;
}
/* 选择 激活的链接*/
a:active {
    color: lawngreen;
}
/* 选择 访问过的链接 */
a:visited {
    color: red;
}

/* 选择 选择过的选择框 */
input[type="checkbox"]:checked {
    outline: 2px solid blue
}
/* 选择  无法输入text输入框 */
input[type="text"]:disabled {
    background-color: lightgrey;
}

/* 选择 ID为cool的聚焦的元素 */
#cool:focus {
    background-color: aqua;
}
/* 选择 为子元素的p的第三个子元素*/
p:nth-child(3) {
    color: orangered;
}